<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCRfoEtJbS-wD8CPHeGCVBhKZ9S6W7eBS4</string>
	<key>GCM_SENDER_ID</key>
	<string>586068989468</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nomadcodersFlutterChallenge</string>
	<key>PROJECT_ID</key>
	<string>tiktok-challenge-cskim</string>
	<key>STORAGE_BUCKET</key>
	<string>tiktok-challenge-cskim.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:586068989468:ios:40010c8be1b5d092d6f1d9</string>
</dict>
</plist>